/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2015, 10:41:51 AM
    Author     : S525248
*/

h1
{
color:orange;
}
#rd
{
    
   
    width: 20em;
}
body
{
background-color:menu;
}